.float_1 div:nth-child(1) {
    float: left;
    width: 10%;
}

.float_1 div:nth-child(2) {
    float: left;
    width: 10%;
}

.float_2 div:nth-child(1) {
    float: left;
    width: 10%;
}

.float_2 div:nth-child(2) {
    float: left;
    width: 15%;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* .ability {
    line-height: 5px;
    margin-bottom: 30px;
} */

.title {
    padding: 15px 15px;
    color: #fff;
    font-size: 12px;
    background-color: #858585;
}

.flexbox {
    display: flex;
}

.left {
    width: 100px;
    height: 100px;
    border-bottom: 1px solid #fff;
    font-size: 12px;
    text-align: center;
    line-height: 100px;
    background-color: #d6d6d6;
}

.float_1,
.float_2,
.right {
    width: 100%;
    padding: 10px 0 0 10px;
    border-top: 1px solid #d6d6d6;
}

p {
    display: inline;
}

h2 {
    margin: 0;
}

.info {
    border: 1px solid #d6d6d6;
}